/* Allgemeine Stile für die Tabelle */
.table-section {
    margin-bottom: 20px;
}

/* Stile für die einfache Tabelle */
.simple-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #336699;
}

.simple-table td {
    padding: 15px;
    background-color: #f2f2f2;
}

/* Stile für die Tabelle mit Kopfzeile */
.header-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #336699;
}

.header-table th {
    padding: 15px;
    background-color: #336699;
    color: #ffffff;
}

.header-table td {
    padding: 15px;
    background-color: #ffffff;
}

/* Stile für die verschachtelte Tabelle */
.nested-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #336699;
}

.nested-table td {
    padding: 15px;
    background-color: #f2f2f2;
}

/* Stile für die innere Tabelle */
.inner-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #336699;
}

.inner-table td {
    padding: 15px;
    background-color: #ffffff;
}
