body   {font-family: Verdana,Geneva,Arial,sans-serif; color: #003366; font-size: large; }		

h1, h2 {color: #ff9933; }

h1     {font-size: 150%; }
  
h2     {font-size: 120%; } 

blockquote {font-style: italic; }

table, th, td {color: #003366; font-size: 10pt;
	   border: 0.5px solid 	#003366;
	   border-collapse: collapse; }

